
body{
    padding: 0%;
}
nav a{
    
    padding: 10px;
    text-decoration: none ;
}
h1{
    text-shadow: 2px 2px 8px black;

}
.active{
    background-color: yellow;
    border-radius: 25px;
    padding: 50px;
}

