<h1>table-pages </h1>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>s.no</th>
                <th>id</th>
                <th>name</th>
                <th>username</th>
                <th>email</th>
                <th>phone</th>
                <th>website</th>                                    
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>raja</td>
                <td>ra</td>
                <td>raja#gmail.com</td>
                <td>324356</td>
                <td>www.goole</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>raja</td>
                <td>ra</td>
                <td>raja#gmail.com</td>
                <td>324356</td>
                <td>www.goole</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>raja</td>
                <td>ra</td>
                <td>raja#gmail.com</td>
                <td>324356</td>
                <td>www.goole</td>
            </tr>
            <tr>
                <td>3</td>
                <td>3</td>
                <td>raja</td>
                <td>ra</td>
                <td>raja#gmail.com</td>
                <td>324356</td>
                <td>www.goole</td>
            </tr>
            <tr>
                <td>4</td>
                <td>4</td>
                <td>raja</td>
                <td>ra</td>
                <td>raja#gmail.com</td>
                <td>324356</td>
                <td>www.goole</td>
            </tr>
        </tbody>
    </table>
</div>