/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(/assets/naturalimg1.jfif);
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;    
}